<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test.user">

    <!--增-->
    <insert id="insert" parameterType="map">
        insert into users(name, phone, password)
        value #{name}, #{phone}, #{password}
    </insert>

    <!--删-->
    <delete id="delete" parameterType="map">
        delete from users
        where phone=#{phone}
    </delete>

    <!--查-->
    <select id="select" parameterType="map" resultType="map">
        select name, phone, password from users
        where phone=#{phone}
    </select>

    <!--改-->
    <update id="update" parameterType="map">
        update users
        set name=#{name}, phone=#{phone}
        where id=#{id}
    </update>


</mapper>
